<!DOCTYPE html>
<html>

<body>
<a href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=https://horal-extensions.000webhostapp.com&scope=email_r&client_id=p8eqqvkph27mp9hrxebyx3re&state=s49pjd&code_challenge=TtWa2nZSfobREfsFWBMeAncijluP-qMRQ0s-adTn50A&code_challenge_method=S256">
    Authenticate with Etsy
</a>
</body>

</html>